
DataWebservice/.vs/DataWebservice/v16/Server/sqlite3/db.lock
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/DataWebservice.csproj.nuget.dgspec.json
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/DataWebservice.csproj.nuget.dgspec.json
DataWebservice/.vs/DataWebservice/v16/Server/sqlite3/storage.ide-wal
DataWebservice/DataWebservice/Program.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csproj.FileListAbsolute.txt
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.pdb
DataWebservice/.vs/DataWebservice/v16/Server/sqlite3/storage.ide-wal
