
DataWebservice/.vs/DataWebservice/DesignTimeBuild/.dtbcache.v2
DataWebservice/.vs/DataWebservice/v16/.suo
DataWebservice/DataWebservice/.config/dotnet-tools.json
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.deps.json
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.exe
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.pdb
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.runtimeconfig.dev.json
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.StaticWebAssets.xml
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.Views.dll
DataWebservice/DataWebservice/bin/Debug/netcoreapp3.1/DataWebservice.Views.pdb
DataWebservice/DataWebservice/bin/Release/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/bin/Release/netcoreapp3.1/DataWebservice.pdb
DataWebservice/DataWebservice/DataWebservice.csproj.user
DataWebservice/DataWebservice/obj/DataWebservice.csproj.EntityFrameworkCore.targets
DataWebservice/DataWebservice/obj/DataWebservice.csproj.nuget.dgspec.json
DataWebservice/DataWebservice/obj/DataWebservice.csproj.nuget.g.props
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csproj.CoreCompileInputs.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.exe
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.MvcApplicationPartsAssemblyInfo.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.pdb
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.Views.dll
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.Views.pdb
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/API/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Data/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Data/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Data/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Data/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Data/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/RoomAccesses/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/RoomAccesses/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/RoomAccesses/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/RoomAccesses/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/RoomAccesses/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Rooms1/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Rooms1/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Rooms1/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Rooms1/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Rooms1/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/SensorLogs1/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/SensorLogs1/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/SensorLogs1/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/SensorLogs1/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/SensorLogs1/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Sensors/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Sensors/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Sensors/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Sensors/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Sensors/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Users2/Create.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Users2/Delete.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Users2/Details.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Users2/Edit.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/Razor/Views/Users2/Index.cshtml.g.cs
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/staticwebassets/DataWebservice.StaticWebAssets.Manifest.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/staticwebassets/DataWebservice.StaticWebAssets.xml
DataWebservice/DataWebservice/obj/project.assets.json
DataWebservice/DataWebservice/obj/project.nuget.cache
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/DataWebservice.pdb
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/DataWebservice.Parameters.xml
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/DataWebservice.SourceManifest.xml
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/Out/DataWebservice.dll
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/Out/DataWebservice.exe
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/Out/DataWebservice.pdb
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/Out/DataWebservice.Views.dll
DataWebservice/DataWebservice/obj/Release/netcoreapp3.1/PubTmp/Out/DataWebservice.Views.pdb
DataWebservice/DataWebservice/Properties/PublishProfiles/DataWebservice - Web Deploy.pubxml.user
