DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.assets.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.dll
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.csprojAssemblyReference.cache
DataWebservice/DataWebservice/obj/Debug/netcoreapp3.1/DataWebservice.pdb
