
@{
    ViewData["Title"] = "API";
}

<h1>Api documentation</h1>
<hr />

<h3><a href="https://datawebservice20200720021920.azurewebsites.net//api/rooms">/api</a></h3>
<hr />
<h3>Room</h3>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/rooms</span>
        </div>
        <div class="col">
            <span>Get all rooms</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/rooms/DTO</span>
        </div>
        <div class="col">
            <span>Get all rooms in DTO format</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/rooms/{id}</span>
        </div>
        <div class="col">
            <span>Get room by ID - includes Owner(s) and SensorData</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/room/roomsforuser/{id}</span>
        </div>
        <div class="col">
            <span>Get all rooms belonging to User</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-success badge-pill">POST</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/room</span>
        </div>
        <div class="col">
            <span>Add a room:</span>
            <span>Example:</span>
            <span>{ "name" : "køkken" }</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-warning badge-pill">PUT</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/room</span>
        </div>
        <div class="col">
            <span>Update an existing room</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-danger badge-pill">DELETE</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/room/{id}</span>
        </div>
        <div class="col">
            <span>Deletes a room</span>
        </div>
    </li>
</ul>


<hr />
<h3>SensorData</h3>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/data</span>
        </div>
        <div class="col">
            <span>Get all sensorData in DTO format</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/dataoriginal</span>
        </div>
        <div class="col">
            <span>Get all sensorData</span>
        </div>
    </li>

</ul>

<hr />
<h3>User</h3>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/users</span>
        </div>
        <div class="col">
            <span>Get all users</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/users/DTO</span>
        </div>
        <div class="col">
            <span>Get all users in DTO format</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/users/{id}</span>
        </div>
        <div class="col">
            <span>Get user by ID - includes RoomAccess with Rooms</span>
        </div>
    </li>
</ul>


<hr />
<h3>Sensor</h3>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/sensors</span>
        </div>
        <div class="col">
            <span>Get all Sensors</span>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/sensors/DTO</span>
        </div>
        <div class="col">
            <span>Get all Sensors in DTO format</span>
        </div>
    </li>

</ul>

<hr />
<h3>SensorLogs</h3>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col-2 col-lg-1">
            <span class="badge badge-info badge-pill">GET</span>
        </div>
        <div class="col-4 col-lg-2">
            <span class="font-weight-bold">/sensorLogs</span>
        </div>
        <div class="col">
            <span>Get all SensorLogs</span>
        </div>
    </li>

</ul>


