@*https://github.com/Zungate/SEP4DW*@
@using Microsoft.AspNetCore.Identity
@model Microsoft.AspNetCore.Identity.IdentityRole
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    Users in role
    <ul class="list-group">
        @foreach (IdentityUser user in ViewBag.Users)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a>@user.UserName</a>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
