@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    Users in role
    <ul class="list-group">
        @foreach (User user in ViewBag.Users)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-action="Details" asp-controller="User" asp-route-id="@user.userID">@user.displayName</a>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
